.chart-wrapper {
  .info-latest {
    margin-left: 45px;
    margin-bottom: 15px;
    .rate {
      margin: 0;
      font-size: 20px;
      color: #001021;
      font-weight: 600;
      span {
        font-size: 24px;
      }
    }
    time {
      margin: 0;
      line-height: 29px;
      font-size: 15px;
      color: #5E6C78;
    }
  }
  .line {
    height: 200px;
  }
  .axis-name {
    text-align: center;
    line-height: 31px;
    font-size: 16px;
    color: #76828F;
    margin-top: 10px;
    margin-bottom: 0;
  }
  // @include media-breakpoint-up(lg) {
  // }
}