.learn-page {
  header {
    overflow: hidden;
    .hero-wrapper.hero-wrapper-inner {
      font-family: 'Open Sans', sans-serif;
      margin-top: 72px;
      .learn-heading {
        font-weight: bold;
        line-height: 41px;
        font-size: 32px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 16px;
        &.dc-basics-heading {
          margin-bottom: 56px;
        }
      }
      p {
        line-height: 28px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 46px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 40px;
        .learn-heading {
          line-height: 36px;
          font-size: 28px;
          margin-bottom: 10px;
          &.dc-basics-heading {
            margin-bottom: 14px;
          }
        }
        p {
          margin-bottom: 16px;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 34px;
        .learn-heading {
          line-height: 31px;
          font-size: 24px;
          &.dc-basics-heading {
            margin-bottom: 2px;
          }
        }
        p {
          margin-bottom: 3px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      &.bg-gradient.bg-primary-gradient::before {
        left: -900px;
      }
      &.bg-gradient.bg-primary-gradient::after {
        left: -340px;
        bottom: -20px;
      }
    }
    @include media-breakpoint-down(sm) {
      &.bg-gradient.bg-primary-gradient::after {
        left: -360px;
        bottom: -50px;
      }
    }
  }

  .page-content {
    padding-top: 15px;
    padding-bottom: 60px;
    min-height: 475px;
    .learn-card {
      background: #FFFFFF;
      border: 1px solid #E8EAEB;
      border-radius: 2px;
      margin-top: 35px;
      padding: 40px;
      display: block;
      text-decoration: none;
      &:hover {
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
      }
      img {
          width: 125px;
          margin-top: 20px;
          @include media-breakpoint-down(md) {
              width: 133px;
          }
      }
      h5 {
          margin-top: 32px;
          margin-bottom: 17px;
          font-weight: 600;
          @include media-breakpoint-down(md) {
              font-size: 18px;
          }
      }
      p {
          line-height: 28px;
          margin-bottom: 4px;
          color: #76828F;
      }
      @include media-breakpoint-down(md) {
        padding: 40px 30px;
        margin-top: 24px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
    .accordion {
      border-radius: 0;
      background: none;
      box-shadow: none;
      padding-bottom: 10px;
      .accordion-panel {
        margin-top: 18px;
        border: 1px solid #E8EAEB;
        transition: box-shadow .3s;
        &:hover {
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
        }
        .accordion-header {
          font-size: 18px;
          font-weight: bold;
          color: #02182B;
          border-top: none;
          background: none;
          border-radius: 3px;
          padding: 22px 64px 22px 32px;
          &::after {
            color: #045CC7;
          }
          @include media-breakpoint-down(md) {
            padding: 22px 64px 22px 30px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 16px;
            padding: 22px 64px 22px 22px;
          }
        }
        .accordion-body {
          padding: 2px 32px 32px;
          color: #7D8B96;
          line-height: 31px;
          font-weight: normal;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 16px;
        }
      }
    }
    .topics {
      padding-left: 20px;
      .heading-topics {
        margin-top: 18px;
        margin-bottom: 23px;
        font-weight: bold;
        color: #5E6C78;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin-bottom: 12px;
          a {
            color: #8C969E;
            line-height: normal;
            &.active {
              color: #0459C4;
              font-weight: 600;
            }
          }
        }
      }
    }
    .glossary-wrapper, .privacy-policy-wrapper {
      background: #FFFFFF;
      border: 1px solid #E8EAEB;
      box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      padding: 35px;
      .term-groups {
        .initial-letter {
          background: url('/img/terms-heading.svg'), #F9F9F9;
          background-repeat: no-repeat;
          font-weight: bold;
          line-height: normal;
          font-size: 32px;
          color: #FFFFFF;
          padding: 12px 28px;
          @include media-breakpoint-down(sm) {
            background: url('/img/terms-heading-small.svg'), #F9F9F9;
            background-repeat: no-repeat;
            font-size: 28px;
            padding: 7.5px 17px;
          }
        }
        &:nth-child(2) {
          .initial-letter {
            background: url('/img/terms-heading-2.svg'), #F9F9F9;
            @include media-breakpoint-down(sm) {
              background: url('/img/terms-heading-small-2.svg'), #F9F9F9;
              background-repeat: no-repeat;
              font-size: 28px;
              padding: 7.5px 17px;
            }
          }
        }
        .term-heading {
          font-weight: bold;
          line-height: normal;
          font-size: 18px;
          color: #001021;
          margin-top: 30px;
          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }
        .term-description {
          line-height: 31px;
          font-size: 16px;
          color: #7D8B96;
          margin-top: 16px;
        }
      }
      .token-group {
        .token-heading {
          font-weight: bold;
          line-height: normal;
          font-size: 18px;
          color: #02182B;
          img {
            width: 26px;
            height: 26px;
            margin-right: 8px;
          }
        }
        .token-description {
          line-height: 31px;
          font-size: 16px;
          color: #5E6C78;
          margin-top: 22px;
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-down(md) {
        box-shadow: none;
        border: 0;
        padding: 0;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 5px;
      }
      &.tokens {
        padding: 25px 35px;
        hr {
          margin: 30px 0;
        }
        @include media-breakpoint-down(md) {
          padding: 0;
        }
        @include media-breakpoint-down(sm) {
          padding: 0 5px;
        }
      }
    }
    .privacy-policy-wrapper {
      color: #5E6C78;
      .last-updated {
        font-weight: bold;
        line-height: 34px;
        font-size: 18px;
        color: #02182B;
        margin-bottom: 14px;
      }
      h6 {
        color: #02182B;
        font-weight: bold;
        line-height: 31px;
        font-size: 16px;
      }
      p {
        line-height: 28px;
        margin-bottom: 0.75rem;
      }
      .sub-heading {
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
      }
    }
    @include media-breakpoint-down(md) {
      padding-top: 20px;
      padding-bottom: 44px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 16px;
      padding-bottom: 36px;
    }
    &.dc-basics-content {
      padding-top: 32px;
      padding-bottom: 50px;
      @include media-breakpoint-down(sm) {
        padding-top: 8px;
        padding-bottom: 27px;
      }
    }
    &.dc-glossary {
      padding-top: 50px;
      padding-bottom: 50px;
      .topics {
        .heading-topics {
          margin-top: 0;
        }
      }
      @include media-breakpoint-down(md) {
        padding-top: 43px;
        padding-bottom: 43px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 23px;
        padding-bottom: 65px;
      }
    }
  }

  .learn-breadcrumb {
    background: #F7F9FA;
    ul {
      padding: 20px 0;
      margin: 0;
      list-style-type: none;
      li {
        display: inline;
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.heading-top {
  font-size: 1.625rem;
  margin-bottom: 32px;
}

.getting-started {

  .query-container {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    padding: 0 40px;
    margin-top: 45px;

    .query {
      padding-bottom: 30px;
      border-bottom: 1px solid #D5D5D5;

      &:last-child {
        border-bottom: none;
      }

      img {
        padding-top: 15px;
      }

      .query-heading {
        font-size: 1.5rem;
        margin-top: 55px;
        margin-left: 30px;
        margin-bottom: 40px;
        display: inline-block;
      }
    }
  }

  .info-terms {
    margin-top: 40px;
    color: #040506;
    font-size: 19px;
    text-align: center;
  }

}

.terminology {

  .terms-group {
    margin-top: 45px;

    .initial-letter {
      font-size: 42px;
      line-height: 69px;
      color: #0451BD;
      border-bottom: 1px solid #D5D5D5;
      margin-bottom: 25px;
    }

    .term-heading {
      font-weight: bold;
      color: #040505;
    }

    p {
      margin-bottom: 25px;
    }

    img {
      width: 50px;
      margin: 5px 15px auto auto;
    }

    .bancor-learn {
      width: 52px;
      margin-right: 4px; 
    }
  }

}
