/*Restrict styles only to calculator */
.calculator-wrapper {
	.no-border {
		border: 0px !important;
		box-shadow: none !important;
	}
	.currency-label {
		font-size: 21px;
		margin-bottom: 0;
	}
	.btn-exchange {
		padding: 1rem;
		cursor: pointer;
	}
}
