.accordion {
    background: #fff;
    box-shadow: 0px 1px 8px rgba(151, 176, 207, 0.16);
    border-radius: 0.375rem;
    overflow: hidden;

    .accordion-panel {
        .accordion-header {
            background: rgba(228, 235, 240, 0.78);
            padding: 1.375rem 4rem 1.375rem 2.25rem;
            border-top: 1px solid #E2E6E8;
            font-weight: normal;
            cursor: pointer;

            &::after {
                content: '\f068';
                font-family: 'FontAwesome';
                color: #2B8BFF;
                position: absolute;
                right: 2.5rem;
            }
            
            @include media-breakpoint-down(xs) {
                font-size: 1.125rem;
                padding: 0.875rem 3rem 0.875rem 1.25rem;
                position: relative;

                &::after {
                    right: 1.5rem;
                    top: 1rem;
                }
            }
        }

        .accordion-header.collapsed {
            background: none;

            &::after {
                content: '\f067';
            }
        }

        .accordion-body {
            color: #70808D;
            padding: 2.25rem;

            p {
                margin-bottom: 1.25rem;
            }

            ul {
                list-style-type: none;
                margin-bottom: 1.25rem;
            }

            p:last-child, ul:last-child {
                margin: 0;
            }

            li:before {
                content: "\f00c";
                font-family: 'FontAwesome';
                display: inline-block;
                margin-left: -2rem;
                width: 2rem;
                color: #27DA8C;
            }

            @include media-breakpoint-down(xs) {
                padding: 1.25rem;
            }
        }
    }
}