.main-calc-wrapper {
	background: #ffffff;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	padding: 32px;
	min-height: 462px;
	* {
		font-weight: 600;
	}
	@include media-breakpoint-down(xs) {
		padding: 24px;
	}
	.field-label {
		display: block;
		font-size: 14px;
		line-height: 10px;
		font-weight: 600;
		color: #1a1d1f;
		margin-bottom: 13px;
	}
	.calc-input-wrapper {
		background-color: #fff;
		padding-bottom: 32px;
		.calc-field {
			background: #ffffff;
			border: 1px solid #b0b9bd;
			border-radius: 3px;
			padding: 12px 0;
			display: flex;
			height: 48px;
			input {
				font-size: 16px;
				color: #040506;
				line-height: normal;
				height: auto;
				@include placeholder {
					color: #b0b9bd;
				}
			}
			i {
				position: absolute;
				right: 0;
				top: 5px;
			}

			&:active,
			&:focus-within {
				border: 1px solid #0459c4;
			}
			i {
				position: absolute;
				right: 0;
				top: 5px;
			}
		}
		.dropdown-currency-select {
			height: 23px;
			.dropdown-toggle {
				vertical-align: initial;
				.text-label {
					padding-left: 30px;
					span {
						line-height: 23px;
					}
				}
				img.dropdown-arrow {
					margin-right: 13px;
				}
			}
			.dropdown-menu {
				width: 370px;
				left: -229px;
				@include media-breakpoint-down(xs) {
					width: 222%;
					left: -121%;
				}
				.search-item {
					background: #e7ecee;
					height: 48px;
					.search-input {
						font-weight: normal;
						font-size: 1rem;
						margin-left: 0;
						@include placeholder {
							font-weight: normal;
							font-size: 1rem;
							color: #515c61;
						}
					}
				}
				.dropdown-items-wrapper {
					max-height: 192px;
					padding: 0;
					&::-webkit-scrollbar-track {
						background: #e7ecee;
					}
					&::-webkit-scrollbar-thumb,
					&::-webkit-scrollbar-thumb:hover {
						background: #0459c4;
					}
					.dropdown-item {
						height: 48px;
						padding: 16px;
						&:hover,
						&:focus {
							background: #f0f3f5;
						}
						.currency-label {
							padding: 0;
							.currency-symbol-wrapper {
								margin-right: 8px;
								.currency-symbol {
									width: 16px;
									height: 16px;
								}
							}
							span {
								margin-top: 3px;
								line-height: 11px;
								font-size: 16px;
								font-weight: normal;
								color: #1a1d1f;
								&.name {
									margin-left: auto;
									font-size: 14px;
									font-weight: 600;
									color: #1a1d1f;
								}
							}
						}
					}
				}
			}
			.text-label {
				color: #000;
				display: flex;
				justify-content: center;
				padding-left: 15px;
				.currency-symbol-wrapper {
					margin-right: 8px;
					width: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					img.currency-symbol {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
		&.invalid {
			.field-label {
				color: #db3a34;
			}
			.calc-field {
				border: 1px solid #db3a34;
			}
		}
	}
	// .field-value {
	// 	font-size: 18px;
	// 	color: #045cc7;
	// }
	// .wallet-field {
	// 	cursor: pointer;
	// 	background: none;
	// 	border: none;
	// 	padding: 0;
	// 	outline: none;
	// 	&:hover {
	// 		box-shadow: none;
	// 	}
	// }
	.accounts-select {
		box-shadow: 0px 2px 4px rgba(0, 16, 33, 0.06);
		border-radius: 2px;
		border: 1px solid #c1c7cd;
		&:focus,
		&:focus-within {
			border: 1px solid #9e00ff;
		}
		background: none;
	}
	.exchange-rate {
		text-align: left;
		color: #045cc7;
		line-height: 12px;
		margin-bottom: 20px;
	}
	.btn-exchange {
		color: white;
		background: #29be60;
		border-radius: 3px;
		// font-size: 20px;
		font-size: 16px;
		height: 48px;
		cursor: pointer;
		outline: none;
		&:hover {
			background: rgb(35, 167, 83);
		}
		&:disabled {
			// color: #a0a0a0;
			color: #fff;
			background: #e1e5e7;
			cursor: default;
		}
	}
	.no-border {
		border: 0px !important;
		box-shadow: none !important;
	}
}
