.home-section.security-section.container {
	padding: 61px 15px 68px;
	// padding: 122px 15px;
	@include media-breakpoint-down(md) {
		padding: 56px 20px 56px;
	}
	.section-title {
		margin-top: 80px;
		font-weight: 600;
		line-height: normal;
		font-size: 24px;
		color: #1a1d1f;
		margin-bottom: 12px;
		@include media-breakpoint-down(md) {
			margin-top: 0;
			margin-bottom: 32px;
		}
	}
	p {
		line-height: 33px;
		font-size: 16px;
		margin-top: 0;
		color: #515c61;
		@include media-breakpoint-down(md) {
			margin-top: 26px;
			margin-bottom: 0;
		}
	}
	img.security-lock {
		width: 538px;
		@include media-breakpoint-down(md) {
			width: auto;
			max-width: 100%;
		}
	}
}
